<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http:mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">
	<!-- 기본 테이블을 토대로 맵 첫화면에 뿌려주기 위한 데이터 전송 -->
	<!-- <select id="all" resultType="com.hongik.project.vo.MapDataVO">
		select * from mapdata_table
	</select> -->
	

	<!-- 조건을 통해 Map에 뿌려질 데이터  -->
	<select id="searchdata" parameterType="String" resultType="com.hongik.project.vo.MapDataVO">
		select * from mapdata_table where category1 = #{category1} order by name
	</select>
	
	<!-- Search 부분의 조건 설정을 위한 category 데이터 가져오는 부분 -->
	<select id="getcategory1" resultType="com.hongik.project.vo.CategoryVO">
		select DISTINCT category1 from MAPDATA_TABLE order by category1
	</select>
	
	<insert id="tempinsert" parameterType="com.hongik.project.vo.MapDataVO">
		insert into 
		TEMP_MAPDATA_TABLE(id, category1, name, address, roadaddress, wsg84x, wsg84y, closeddays, time, comments)
		values(#{id},#{category1},#{name},#{address},#{roadaddress},#{wsg84x},#{wsg84y},#{closeddays},#{time},#{comments})
	</insert>
	
	<select id="gettempdata" parameterType="String" resultType="com.hongik.project.vo.MapDataVO">
		select * from TEMP_MAPDATA_TABLE where id = #{id} order by category1
	</select>
	
	<!-- LoginController mapper -->
	<select id="member" resultType="com.hongik.project.vo.MemberVO" parameterType="hashmap">
 		select * from MEMBER where ID='${id }' and PASSWORD='${pw }'
 	</select>
 	
 	<select id="checkId" resultType="int" parameterType="java.lang.String">
 		SELECT COUNT(*) FROM MEMBER WHERE ID = '${value}'
 	</select>
 	
 	<select id="checkNick" resultType="int" parameterType="java.lang.String">
 		SELECT COUNT(*) FROM MEMBER WHERE NICKNAME = '${value}'
 	</select>
 	
 	<insert id="signin" parameterType="com.hongik.project.vo.MemberVO">
		insert into member values ('${id}', '${password}', '${phonenumber}', '${nickname}', '${email}')
 	</insert>
 	
 	<update id="editInfo" parameterType="com.hongik.project.vo.MemberVO">
 		update member set PASSWORD='${password}', PHONENUMBER='${phonenumber}', NICKNAME='${nickname}', EMAIL='${email}' where ID='${id}'
 	</update>
 	
 	<delete id="deleteMapData" parameterType="String">
 		DELETE FROM TEMP_MAPDATA_TABLE WHERE NAME = #{name}
 	</delete>
 	
 	<delete id="deleteMainMapData" parameterType="String">
 		DELETE FROM MAPDATA_TABLE WHERE NAME = #{name}
 	</delete>
 	
 	<!-- 시/도 데이터  -->
	<select id="getcity" parameterType="String" resultType="com.hongik.project.vo.CityVO">
		select DISTINCT CITY from HJGUYEOG
	</select>
 	
 	<!-- 구/군 데이터  -->
	<select id="gettownship" parameterType="String" resultType="com.hongik.project.vo.CityVO">
		select township from HJGUYEOG where CITY like #{city}
	</select>
	
	<!-- 구/군별 구청 좌표  -->
	<select id="getFocusXY" parameterType="String" resultType="com.hongik.project.vo.CityVO">
		select WSG84X, WSG84Y from HJGUYEOG where township = #{township}
	</select>
	
	<!-- 기본 테이블을 토대로 맵 첫화면에 뿌려주기 위한 데이터 전송 -->
	<select id="mapall" resultType="com.hongik.project.vo.MapDataVO">
		select name, city, township, address, wsg84x, wsg84y 
		from mapdata_table
	</select> 
	
	<select id="all" parameterType="com.hongik.project.vo.UpdateVO" resultType="com.hongik.project.vo.MapDataVO">
		select name, city, township, address, wsg84x, wsg84y 
		from mapdata_table 
		where category1 = #{category1}
	</select>
	
	<!-- DB 데이터 중 경위도(X,Y)가 없는 경우 geocode를 사용 주소를 좌표로 변환후 DB 입력  -->
	<update id="updateXY" parameterType="com.hongik.project.vo.UpdateVO">
		update mapdata_table
		set wsg84x=#{wsg84x}, wsg84y=#{wsg84y}
		where address = #{address}
	</update>
	
	<!-- DB 데이터 중 경위도(X,Y)가 없는 경우 geocode를 사용 주소를 좌표로 변환후 DB 입력  -->
	<update id="updatecitytown" parameterType="com.hongik.project.vo.UpdateVO">
		update mapdata_table
		set city=#{city}, township=#{township}, address=#{address}
		where wsg84x=#{wsg84x}
		and wsg84y=#{wsg84y}
	</update>
	
	<!-- Board 게시판 -->
	<select id="oneInfo" parameterType="map" resultType="com.hongik.project.vo.MapDataVO">
 		select * from mapdata_table where name = #{name} and address = #{address}
 	</select>
 	 	
 	<select id="checkBoard" parameterType="String" resultType="com.hongik.project.vo.BoardVO">
 		select * from board  where name = #{name} order by seq desc
 	</select>
 	
 	<select id="rate" parameterType="String" resultType="double">
 		select round(avg(gpa),1) from board where name = #{name}
 	</select>
 	 	
 	<insert id="insertBoard" parameterType="java.util.Map">
 		insert into board values (board_seq.nextval, #{writer}, #{comments}, #{password}, ${gpa}, #{name}, #{time})
 	</insert>
 	
 	<delete id="deleteBoard" parameterType="double">
 		delete from board where seq= #{seq}
 	</delete>
 	
 	<select id="getShareCheckData" resultType="com.hongik.project.vo.MapDataVO">
 		select * from TEMP_MAPDATA_TABLE
 		where SHAREOX = '2'
 	</select>
 	
 	<select id="getShringData" resultType="com.hongik.project.vo.MapDataVO">
 		select * from TEMP_MAPDATA_TABLE
 		where SHAREOX = '3'
 	</select>
 	
 	<update id="updatesharedate" parameterType="com.hongik.project.vo.MapDataVO">
		update TEMP_MAPDATA_TABLE
		set SHAREOX = '2'
		where name = #{name}
		and id = #{id}
	</update>
	
	<update id="updatesharedatecancle" parameterType="com.hongik.project.vo.MapDataVO">
		update TEMP_MAPDATA_TABLE
		set SHAREOX = '1'
		where name = #{name}
		and id = #{id}
	</update>
 	
 	<update id="updatesharedatestatus" parameterType="com.hongik.project.vo.MapDataVO">
		update TEMP_MAPDATA_TABLE
		set SHAREOX = '3'
		where name = #{name}
		and id = #{id}
	</update>
	
	<insert id="insertsharedate" parameterType="com.hongik.project.vo.MapDataVO">
 		insert into MAPDATA_TABLE(ID, CATEGORY1, NAME, WSG84X, WSG84Y, PHONENUMBER, CLOSEDDAYS, TIME, COMMENTS)
 		select ID, CATEGORY1, NAME, WSG84X, WSG84Y, PHONENUMBER, CLOSEDDAYS, TIME, COMMENTS 
 		from TEMP_MAPDATA_TABLE
 		where name = #{name}
 		and id = #{id}
 	</insert>
</mapper>

