<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http:mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">
	<!-- 기본 테이블을 토대로 맵 첫화면에 뿌려주기 위한 데이터 전송 -->
	<!-- <select id="all" resultType="com.hongik.project.vo.MapDataVO">
		select * from mapdata_table
	</select> -->
	
	<select id="all2" resultType="com.hongik.project.vo.MapDataVO">
		select * from mapdata_table order by category1
	</select>
	<!-- 조건을 통해 Map에 뿌려질 데이터  -->
	<select id="searchdata" parameterType="String" resultType="com.hongik.project.vo.MapDataVO">
		select * from mapdata_table where category1 = #{category1}
	</select>
	
	<!-- DB 데이터 중 경위도(X,Y)가 없는 경우 geocode를 사용 주소를 좌표로 변환후 DB 입력  -->
	<update id="updateXY" parameterType="com.hongik.project.vo.UpdatexyVO">
		update mapdata_table
		set wsg84x=#{wsg84x}, wsg84y=#{wsg84y}
		where address = #{address}
	</update>
	
	<!-- Search 부분의 조건 설정을 위한 category 데이터 가져오는 부분 -->
	<select id="getcategory1" resultType="com.hongik.project.vo.CategoryVO">
		select DISTINCT category1 from MAPDATA_TABLE
	</select>
	
	<!-- LoginController mapper -->
	<select id="member" resultType="com.hongik.project.vo.MemberVO" parameterType="hashmap">
 		select * from MEMBER where ID='${id }' and PASSWORD='${pw }'
 	</select>
 	
 	<select id="checkId" resultType="int" parameterType="java.lang.String">
 		SELECT COUNT(*) FROM MEMBER WHERE ID = '${value}'
 	</select>
 	
 	<select id="checkNick" resultType="int" parameterType="java.lang.String">
 		SELECT COUNT(*) FROM MEMBER WHERE NICKNAME = '${value}'
 	</select>
 	
 	<insert id="signin" parameterType="com.hongik.project.vo.MemberVO">
		insert into member values ('${id}', '${password}', '${phonenumber}', '${nickname}', '${email}')
 	</insert>
 	
 	<update id="editInfo" parameterType="com.hongik.project.vo.MemberVO">
 		update member set PASSWORD='${password}', PHONENUMBER='${phonenumber}', NICKNAME='${nickname}', EMAIL='${email}' where ID='${id}'
 	</update>
 	
</mapper>

