<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http:mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
	<select id="all" resultType="com.hongik.project.vo.DataVO">
		select name, address, wsg84x, wsg84y, phonenumber from of_table
	</select>
	
	<select id="table" resultType="string" parameterType="java.lang.String">
		select distinct category1 from ${value }
 	</select>
 	
 	<select id="table2" resultType="string" parameterType="hashmap">
		select distinct category2 from ${table } where category1='${m_category }'
 	</select>
 	
 	<select id="table3" resultType="com.hongik.project.vo.DataVO" parameterType="hashmap">

 		select name, address, roadaddress, phonenumber from ${table }
 		<where>
 			<if test="s_category==null">
 				category1='${m_category }'
 			</if>
 			<if test="s_category!=null">	 	
			 	category1='${m_category }' and category2='${s_category }'
 			</if>
 		</where>
 	</select>
</mapper>

